**/*.out
**/*.exe

# insertion-sort executables
insertion-sort/insertion-sort
insertion-sort/insertion-sort2

# merge-sort executables
merge-sort/merge-sort

# Python
**/__pycache__/

# Rust
**/Cargo.lock
**/target/
