# insertion-sort executables
insertion-sort/insertion-sort
insertion-sort/insertion-sort2

# merge-sort executables
merge-sort/merge-sort

# Clang
**/*.out
**/*.o


# Python
**/__pycache__/

# Rust
**/Cargo.lock
**/target/
